
.app-container {
  display: flex;
  // border: solid;
  margin-left: 10px;
  margin-right: 10px;
}

// .list-container {
//   flex: 1;
//   padding-top: 40px;
//   border-right: solid 0.5px;
//   border-color: rgb(223, 233, 238);
//   // border: solid red;  
//   // flex-basis: 35%;
//   height: 700px;
// }
   
