
#list {
  margin-top: 40px;
  // width: 95%;
  // margin-top: 10px;
  flex: 1;
  // padding-top: 40px;
  border-right: solid 0.5px;
  border-color: rgb(223, 233, 238);
  // border: solid red;  
  // flex-basis: 35%;
  height: 800px;
  // border: solid;

  ul {
    display: flex;
    align-items: stretch;;
    flex-direction: column;  
    // background-color: hotpink;
    margin-top: 20px;  
    // padding: 5px;  
    padding: 0 45px;    
    border-radius: 5px;
    list-style-type: none; /* this get rid of the bollet point of list items */    

    #button {
      margin-top: 10px;      
          
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5em;
      letter-spacing: 0.4px;
      padding: .3em 2em .3em 2em;
      color: #866565;
      border-radius: 20px;
      background-color: white;
      height: auto;  
      line-height: 50px;
      border: solid 0.5px;
      text-align: start;
    }

    /* when overing we reverse the colors of forward and background */
    #button:hover {
      color: #ffffff;
      background-color: black;
    }

    #button:focus {  
      outline: none;
    }
  }
}
